
#card-login{
margin-top:12em;


}


/*BARRA DE NAVEGACION*/
.sidebar::before {

   background-color: #1033b5;
  

}


.sidebar {

  

  background-color: #1033b5;
  
 }


 .sidebar .nav li a{
    color: white;
 }

 .sidebar .nav li a:hover{
    color: white;
 }

 .sidebar .logo .simple-text{ 
    color: white;
 }



 /* MODALS*/
 
 

 .modal-header{
   background-color: #1033b5;
 }

 .modal-title{
   color:white;
 }